*{
    margin: 0;
    padding: 0;
}

#sendMsghead{
    color: black;
    font-size: 2.5rem;
    margin-left: 2%;
    margin-top: 2%;
}

.sendMsg{
    margin-top: 4%;
    color: black;
    margin-left: 5%;
}

textarea{
    color: black;
    width: 40%;
    outline: none;
    padding: 10px;
    border: 1px solid black;
    background-color: #ebeff3;
    border-radius: 10px;
}

#sendMsgBtn{
    border: 1px solid #478ee1;
    width: 20%;
    text-align: center;
    margin-top: 1%;
    color: white;
    font-size: 2rem;
    border-radius: 50px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 

}

#sendMsgBtn:hover{
    background-color: #478ee1;
    color: black;

}